.woocommerce {
	.button.matrix-wishlist-button {
		display: none;
		height: 30px;
		width: 30px;
		font-size: 0;
		margin: 0;
		border: 0;
		overflow: hidden;
		position: absolute;
		top: 15px;
		right: 13px;
		border-radius: 0;
		color: #0188cc;
		border: none;
		background: none;
		font-weight: normal;
		line-height: 1;
		background: #ffff;

		&:after {
			content: "\f004";
			display: block;
			width: 100%;
			height: 100%;
			font-size: 15px;
			font-family: fontAwesome;
			line-height: 2.1em;
			text-align: center;

		}

		&:hover, &.matrix-wishlist-added {
			background: $primary_color;
			color: $white_color;
			border-color: #ddd;
		}
	}

	li.product.type-product {

		&:hover {
			.button.matrix-wishlist-button {
				display: block;
			}

		}

	}
}
