.ae-list-grid-switcher {
  float: right;
  margin-right: 5px;
  a {
    width: 35px;
    height: 35px;
    color: #fff;
    background: $primary_color;
    display: block;
    float: left;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 20px;
    line-height: 33px;
    margin-right: 3px;
    &:hover, &.selected {
      background: $secondary_color;
      color: #ccc;
    }

  }
}

.woocommerce-page {
  .ae-list-view {
    ul.products {
      li.product {
        width: 100%;
        margin-bottom: 10px;
        .ae-woo-block-wrap {
          width: 100%;
          .product-thumb-wrap {
            float: left;
            width: 33.75%;
          }
          .product-info-wrap {
            background: none;
            float: right;
            width: 66.25%;
            text-align: left;
            padding-left: 40px;
            .ae-product-excerpt {
              display: block !important;
              margin-top: 15px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 570px) {
  .ae-list-grid-switcher {
    display: none;
  }
}